/*
 *
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License.
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version. *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. *
 *
 * <OSCAR TEAM>
 *
 * This software was written for the
 * Department of Family Medicine
 * McMaster University
 * Hamilton
 * Ontario, Canada
 */
body {
	background-color: #e0e1ff;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

table {
	width: 100%;
	border-collapse: collapse !important;
}

table#readerViewTable {
	border: #003399 thin solid;
}

table#summaryView tr td {
	padding: 2px 5px !important;
}

table#summaryView tr th {
	padding:0px !important;
	text-align: left;
	vertical-align: center;
	background-color:#9999cc;
	border:#e0e1ff thin solid;
	color:white;
}

table#summaryView tr th div.tablesorter-header-inner {
	margin:0px;
	display:block;
	padding-top:10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	font-weight: bold !important;
}

tr.NormalRes.UnassignedRes:nth-child(even) {
	background-color: #ffcc00 !important;
}

tr.NormalRes.UnassignedRes:nth-child(odd) {
	background-color: #ffd54a !important;
}

span.categoryCB {
	color: white;
}

.RollRes {
	font-weight: 700;
	font-size: 8pt;
	color: white;
}

.RollRes a:link {
	color: white;
}

.RollRes a:hover {
	color: white;
}

.RollRes a:visited {
	color: white;
}

.RollRes a:active {
	color: white;
}

.AbnormalRollRes {
	font-weight: 700;
	font-size: 8pt;
	color: red;
}

.AbnormalRollRes a:link {
	color: red;
	color: #ffd54a;
}

.AbnormalRollRes a:hover {
	color: red;
}

.AbnormalRollRes a:visited {
	color: red;
}

.AbnormalRollRes a:active {
	color: red;
}

.CorrectedRollRes {
	font-weight: 700;
	font-size: 8pt;
	color: yellow;
}

.CorrectedRollRes a:link {
	color: yellow;
}

.CorrectedRollRes a:hover {
	color: yellow;
}

.CorrectedRollRes a:visited {
	color: yellow;
}

.CorrectedRollRes a:active {
	color: yellow;
}

.assignedDoc {
	height: 25px;
}

.notAssignedDoc {
	font-weight: bold;
	font-size: 8pt;
	color: black;
	height: 25px;
}

.AbnormalRes {
	font-weight: bold;
	font-size: 8pt;
	color: red;
	height: 15px;
}

.AbnormalRes a:link {
	color: red;
}

.AbnormalRes a:hover {
	color: red;
}

.AbnormalRes a:visited {
	color: red;
}

.AbnormalRes a:active {
	color: red;
}

.NormalRes {
	font-weight: bold;
	font-size: 8pt;
	color: black;
	height: 15px;
}

.NormalRes a:link {
	color: black;
}

.NormalRes a:hover {
	color: black;
}

.NormalRes a:visited {
	color: black;
}

.NormalRes a:active {
	color: black;
}

.HiLoRes {
	font-weight: bold;
	font-size: 8pt;
	color: blue;
	height: 15px;
}

.HiLoRes a:link {
	color: blue;
}

.HiLoRes a:hover {
	color: blue;
}

.HiLoRes a:visited {
	color: blue;
}

.HiLoRes a:active {
	color: blue;
}

.CorrectedRes {
	font-weight: bold;
	font-size: 8pt;
	color: #4d8977;
}

.CorrectedRes a:link {
	color: #6da997;
}

.CorrectedRes a:hover {
	color: #6da997;
}

.CorrectedRes a:visited {
	color: #6da997;
}

.CorrectedRes a:active {
	color: #6da997;
}

.Field {
	font-weight: bold;
	font-size: 8.5pt;
	color: black;
}

div.Field a:link {
	color: black;
}

div.Field a:hover {
	color: black;
}

div.Field a:visited {
	color: black;
}

div.Field a:active {
	color: black;
}

.Field2 {
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
}

div.Field2 {
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
}

div.FieldData {
	font-weight: normal;
	font-size: 8pt;
	color: black;
}

div.Field3 {
	font-weight: normal;
	font-size: 8pt;
	color: black;
	font-style: italic;
}

div.Title {
	font-weight: 800;
	font-size: 10pt;
	color: white;
	padding-top: 4pt;
	padding-bottom: 2pt;
}

div.Title a:link {
	color: white;
}

div.Title a:hover {
	color: white;
}

div.Title a:visited {
	color: white;
}

div.Title a:active {
	color: white;
}

div.Title2 {
	font-weight: bolder;
	font-size: 9pt;
	color: black;
	text-indent: 5pt;
	padding-bottom: 2pt;
}

div.Title2 a:link {
	color: black;
}

div.Title2 a:hover {
	color: black;
}

div.Title2 a:visited {
	color: black;
}

div.Title2 a:active {
	color: black;
}

.Cell {
	background-color: #9999CC;
	border: #e0e1ff thin solid;
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
}

.Cell2 {
	background-color: #376c95;
	border-left-style: none;
	border-left-width: medium;
	border-right-style: none;
	border-right-width: medium;
	border-top: thin none #bfcbe3;
	border-bottom-style: none;
	border-bottom-width: medium;
}

.Cell3 {
	background-color: #add9c7;
	border-left: thin solid #dbfdeb;
	border-right: thin solid #5d9987;
	border-top: thin solid #dbfdeb;
	border-bottom: thin solid #5d9987;
}

.CellHdr {
	background-color: #cbe5d7;
	border-right-style: none;
	border-right-width: medium;
	border-bottom-style: none;
	border-bottom-width: medium
}

.Nav {
	font-weight: bold;
	font-size: 8pt;
	color: white;
}

div.Nav a:link {
	color: white
}

div.Nav a:hover {
	color: #eeeeee
}

div.Nav a:visited {
	color: white
}

div.Nav a:active {
	color: #eeeeee
}

.PageLink a:link {
	font-size: 8pt;
	color: white;
}

.PageLink a:hover {
	color: red;
}

.PageLink a:visited {
	font-size: 9pt;
	color: yellow;
}

.PageLink a:active {
	font-size: 12pt;
	color: yellow;
}

.PageLink {Verdana;
	
}

.text1 {
	font-size: 8pt;
	color: black;
}

div.txt1 {
	font-size: 8pt;
	color: black;
	Verdana
	,
	Arial;
}

div.txt2 {
	font-weight: bolder;
	font-size: 6pt;
	color: black;
	Verdana
	,
	Arial;
}

div.Title3 {
	font-weight: bolder;
	font-size: 12pt;
	color: black;
	Verdana
	,
	Arial;
}

.red {
	color: red;
}

.text2 {
	font-size: 7pt;
	color: black;
	Verdana
	,
	Arial;
}

.white {
	color: white;
}

.title1 {
	font-size: 9pt;
	color: black;
	Verdana
	,
	Arial;
}

div.Title4 {
	font-weight: 600;
	font-size: 8pt;
	color: white;
}

.smallButton {
	font-size: 8pt;
}

table tr[id^=labdoc] td, div[id^=labdoc] {
	padding: 0px 5px;
	border: #e0e1ff thin solid;
}

td#categoryList {
	height:600px ;
	border-right: #003399 thin solid;
	overflow-wrap: anywhere;
}
td#categoryList div.documentSummaryList {
	height:600px;
	overflow-y:scroll;
}

td#categoryList details {
	border-top: #e0e1ff solid 1.5px;
	border-right: #e0e1ff solid 1.5px;
	border-left: #e0e1ff solid 1.5px;
}

td#categoryList div#patientsdoclabs details#patientsdoclabsDetails summary#patientsdoclabsSummary,
td#categoryList .unmatchedList summary, td#categoryList #masterDocumentSummary summary
	{
	background-color: #9999cc;
	padding: 10px;
	color: white;
}
td#categoryList div#patientsdoclabs details#patientsdoclabsDetails summary#patientsdoclabsSummary,
td#categoryList .unmatchedList summary a, td#categoryList #masterDocumentSummary summary a
	{
	color: white;
	font-weight: bold;
}

td#categoryList details a {
	text-decoration: none;
}

td#categoryList div#patientsdoclabs details {
	margin-bottom: 5px;
}

td#categoryList div#patientsdoclabs details details summary {
	text-indent: -18px;
	padding-left: 18px;
}

td#categoryList ul {
	padding: 0 0 0 15px;
}

td#categoryList ul li {
	list-style-type: none;
	padding: 2px 0px;
}

td#categoryList div#patientsdoclabs details details#patientsdoclabsDetailList {
	padding:0 10px;
}

td#categoryList div#patientsdoclabs details ul {
	padding-left: 18px;
}